.carroussel__container {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
}

.carroussel__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carroussel__track {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carroussel__slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.carroussel__button--left,
.carroussel__button--right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 20px;
    padding: 8px;
    background-color: #f1f1f14f;
    z-index: 10;
}

.carroussel__button--left:hover,
.carroussel__button--right:hover {
    background-color: #f1f1f1cf;
}

.carroussel__button--left {
    left: 30px;
}

.carroussel__button--right {
    right: 30px;
}

.carroussel__dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 20;
}

.carroussel__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.carroussel__dot.active {
    background-color: rgba(255, 255, 255, 0.95);
}